




@media screen and (max-width: 1400px) {
    #search .checkboxes label {

        margin-left: 5px;
    }
    #search .checkboxes .col{
        justify-content: left;
    }

    .choose-place{
        flex-wrap: wrap;

    }
}

@media screen and (max-width: 1270px) {

    .about-page .contacts {
        flex-direction: column;
    }
    header .menu-wrap .right .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header .menu-wrap .right{
        width: 100%;
    }
}


@media screen and (max-width:1120px) {
 .page-event .description {
     flex-direction: column;
 }


    .page-event .description .right{
        justify-content: center;
    }

    .page-event .description .data{
        padding-right: 0;
    }
}




@media screen and (max-width: 992px) {
    /*#recalls .cont{*/
    /*min-height: auto;*/
    /*margin-top: 80px;*/
    /*}*/
    header .head .menu-wrap .col {
        padding: 0;
    }
    header .hr {
        display: none;
    }
    header .head .menu-wrap .top {
        padding: 0 15px;
    }

    header .menu {
        position: relative;
        width: 100%;
        background: #fc5e62;
        padding: 7px 0;
    }
    header .menu ul{
       /*display: none;*/
        justify-content: left;
        position: absolute;
        flex-direction: column;
        top: 38px;
        right: 0;
        background: white;
        transition: opacity 1s ease-out;
        opacity: 0;
        visibility: hidden;
    }

    header .menu ul.active{
        display: flex;
        opacity: 1;
        visibility: visible;
    }



    header .menu ul li{
        background: #fc5e62;
        /*display: none;*/
        width: 100%;
        float: left;
        margin: 0;
        padding: 0 20px;
        text-align: left;
    }

    header .menu ul li.cart{
        margin: 5px 0;
        width: auto;
    }

    header .menu ul li:hover{
        background: white;
    }
    header .menu ul li:hover a{
        color: #fc5e62;
    }

    header .menu .burger {
        display: flex;

    }

    header .row.title {
        width: 80%;
    }

    header .row.title p{
        font-size: 45px;
    }


    header .row.title span{
        font-size: 35px;
    }


    .menu-wrap .contacts {
        flex-direction: column;
    }
    .menu-wrap .contacts div{
        margin-left: 0;
    }

    header .contacts div:before{
            content:"";
            display: none;
    }
    /*#search .search-card .btn:first-child*/
    #search .buttons {
        flex-direction: column;
    }
    #search .buttons .btn:first-child, #search .buttons .btn:last-child{
     width: 100%;margin-top: 10px;
    }

.about-page .row.bottom .col-lg-6:first-child{
    margin-bottom: 15px;

}

.about-page .contacts {
    flex-direction: row;
}

    .about-page .contacts .right{
       margin-left: 20px;
    }

}

@media screen and (max-width: 768px) {

    .reviews-page .review {
        flex-direction: column-reverse;
    }
    .reviews-page .white{
        display: none;
    }

    .reviews-page .img {
        width: 80%;
        margin: 0 auto;
    }

    .reviews-page .description {
        margin-top: 0;
    }


    #advantages .adv-card img {
        width: 100%;
    }
    #advantages .adv-card {
        height: auto;
    }

    #search .checkboxes .col{
        flex-direction: column;
    }
    #search .checkboxes label {

        margin-left: 0;
    }

    #search .buttons {
        display: flex;
    }

   div.alex.container {
        flex-direction: column;
    }

    div.alex.container .description{
        width: 100%;
        max-width: max-content;
    }

    div.alex.container .photos{
        width: 100%;
    }
    .search-card{
        width: 100%;
    }
    .search-card .description{
        width: 100%;
        max-width: 100%;
    }
    .paysystems {
        flex-direction: column;
    }
    .paysystems p{
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    .about-page .photo{
        min-width: 100px;
        width: 100px;
        height: 100px;
    }
    .about-page .contacts {
        flex-direction: column;
    }

    .about-page .contacts .right{
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    header .row.title p{
        font-size: 35px;
    }


    header .row.title span{
        font-size: 25px;
    }


    header .menu-wrap .right .top{
        flex-direction: column;
    }

    header .menu-wrap .right .logo-active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-event .description .left{
        flex-direction: column;
    }
    .page-event .description h3{
       margin-right: 0;
    }
    .page-event .description .data{
        justify-content: center;
        padding-left: 0;
    }

    .slider-buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slider-buttons button{
margin-bottom: 10px;
    }

}


